#!/bin/bash
#SBATCH --job-name=sim_{{ job_id }}
#SBATCH --partition={{ partition }}
#SBATCH --nodes={{ nodes }}
#SBATCH --ntasks={{ nodes }}
#SBATCH --time={{ timelimit_str }}
#SBATCH --output=/dev/null
#SBATCH --error=/dev/null

sleep {{ elapsed_sec }}
