#!/bin/bash
#SBATCH --job-name=sim_{{ job_id }}
#SBATCH --partition={{ partition }}
#SBATCH --nodes={{ nodes }}
#SBATCH --ntasks={{ nodes }}
#SBATCH --time={{ timelimit_str }}
#SBATCH --output={{ output_dir }}/job_%j.out
#SBATCH --input=/dev/null

sleep {{ elapsed_sec }}
